 body{
  font-family: Arial;
  margin:0;
  background:#f5f5f5;
}

/* HEADER */
header{
  background:#0b3d91;
  padding:15px;
}
.logo{
  height:50px;
}

/* GRID */
.container{
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(250px,1fr));
  gap:20px;
  padding:20px;
}

/* CARD */
.card{
  background:#fff;
  padding:15px;
  border-radius:10px;
  box-shadow:0 5px 15px rgba(0,0,0,0.1);
  text-align:center;
}

.card img{
  width:100%;
  height:200px;
  object-fit:cover;
  border-radius:8px;
}

.card h3{
  margin:10px 0;
}

.btn{
  background:red;
  color:#fff;
  padding:8px 15px;
  text-decoration:none;
  border-radius:5px;
}

/* DETAIL */
.detail-container{
  display:flex;
  gap:30px;
  padding:30px;
}

.slider{
  flex:1;
}

.slider img{
  width:100%;
  border-radius:10px;
}

.info{
  flex:1;
}

.info h1{
  margin-bottom:15px;
}

.info ul{
  padding-left:20px;
}  
